<app-loader *ngIf="loading"></app-loader>
<div class="homePage" id="homepage" *ngIf="!loading">
  <!-- Hero Section -->
  <!-- <div class="homeBanner">
     <div class="bannerImg">
     </div>
     <div class="shapeImg"></div>
  </div> -->
  <div class="heroBanner">
    <!-- <div class="bannerImg">
      <div class="layer d-flex align-items-end">
        <div class="container">
          <div class="row py-xl-5 py-lg-5 py-md-5 py-sm-5 py-4">
            <div class="col-xl-7 col-lg-7 col-md-12">
              <ngx-slick-carousel class="carousel mb-xl-0 mb-lg-0 mb-md-0 mb-sm-2 mb-5 partnerLogo"
                #slickModal="slick-carousel" [config]="partnerConfig">
                <div ngxSlickItem *ngFor="let item of allHomeData?.Recruiter" class="slide px-2">
                  <img class="card-img-top" [src]="imgPath + item?.featured_image" alt="logo">
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <ngx-slick-carousel class="carousel mb-xl-0 mb-lg-0 mb-md-0 mb-sm-2 mb-0 bannerHome" #slickModal="slick-carousel"
    [config]="bannerConfig">
      <ng-container *ngFor="let item of bannerData">
        <div class="bannerImg slide" [style.background-image]="'url(' + imgPath + item?.file + ')'" ngxSlickItem>
          <div class="layer d-flex align-items-center">
            <div class="container">
              <div class="row py-xl-5 py-lg-5 py-md-5 py-sm-5 py-4 shadowText">
                <div class="col-xl-7 col-lg-7 col-md-12 mt-xl-5">
                  <div class="heroBanner">
                    <h5 class="muted-text">{{item?.purpose}}</h5>
                    <h4 class="sectionText text-capitalize">{{item?.name}} -</h4>
                    <p class="">{{item?.designation}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ngx-slick-carousel>
    <div class="shapeImg">
      <img src="./../../../../assets/imgs/homeImages/shapes.png">
    </div>
  </div>
  <!-- Hero Section End -->

  <!-- KPI Section -->
  <div class="mainKpi py-4">
    <!-- <button (click)="videoDialog()">Test</button> -->
    <div class="kpiImg d-xl-block d-lg-block d-md-none d-sm-none d-block">
      <img src="./../../../../assets/imgs/homeImages/navHrLeft.png">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 border-end">
          <div class="info text-center py-4">
            <p class="text-uppercase">placement</p>
            <h5 class="lh-base description mb-0">100%</h5>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 border-end">
          <div class="info text-center py-4">
            <p class="text-uppercase">Research</p>
            <h5 class="lh-base description mb-0">76+</h5>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 border-end">
          <div class="info text-center py-4">
            <p class="text-uppercase">Highest Package</p>
            <h5 class="lh-base description mb-0">18.50 L</h5>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="info text-center py-4">
            <p class="text-uppercase">Alumni</p>
            <h5 class="lh-base description mb-0">16k+</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- KPI Section End -->

  <!-- Our Courses Section -->
  <div class="courses py-xl-4 py-lg-4 py-4">
    <div class="container">
      <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-start py-xl-3 m-0">
        <div class="col-12 pb-2">
          <h4 class="main-heading text-capitalize mb-0">Courses offered</h4>
        </div>
      </div>
      <div class="row py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
        <ngx-slick-carousel class="carousel courseSlider" #slickModal="slick-carousel" [config]="courseConfig">
          <div ngxSlickItem class="col-xl-3 col-lg-3 col-md-6 my-2 px-2"
            *ngFor="let course of allHomeData?.Course; index as i;">
            <div class="card rounded-0">
              <div class="coursesImg position-relative">
                <img [src]="imgPath + course?.featured_image" class="card-img-top rounded-0" alt="newsImg">
              </div>
              <div class="card-body">
                <h5
                  class="card-title courseTitle text-uppercase lh-base text-xl-start text-lg-start text-md-start text-sm-start text-center">
                  {{course?.title}}</h5>
                <p class="lh-base text-xl-start text-lg-start text-md-start text-sm-start text-center mb-0">
                  {{course?.info}}
                </p>
              </div>
              <div
                class="card-footer border-0 bg-transparent pb-0 px-0 text-xl-start text-lg-start text-md-start text-sm-start text-center">
                <div class="card-footer border-0 bg-transparent pb-3">
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <div id="outer">
                      <a class="button_slide slide_right text-capitalize text-decoration-none">apply now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
  <!-- Our Courses Section End -->

  <!-- Partner Logo -->
  <div class="partnerLog py-xl-5 py-lg-5 py-md-5 py-sm-4 py-4">
    <div class="container">
      <div class="row">
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-12 align-self-center mb-xl-0 mb-lg-0 mb-2">
          <p class="mb-0 heading">Trusted By Top 100+ Companies</p>
        </div>
        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-8 col-12 px-0">
          <ngx-slick-carousel class="carousel mb-xl-0 mb-lg-0 mb-md-0 mb-sm-2 partnerLogo"
            #slickModal="slick-carousel" [config]="partnerConfig">
            <div ngxSlickItem *ngFor="let item of allHomeData?.Recruiter" class="slide px-2">
              <img class="card-img-top" [src]="imgPath + item?.featured_image" alt="logo">
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- Partner Logo End-->

  <!-- About Us -->
  <div class="aboutSection pb-xl-0 pb-lg-0 pb-md-0 pb-sm-0 pb-4">
    <div class="row m-0">
      <div class="col-xl-6 col-lg-6 col-md-6 px-0 order-xl-1 order-lg-1 order-md-1 order-2 position-relative">
        <div class="vidSection">
          <img class="coverImg" src="./../../../../assets/imgs/homeImages/aboutVid.png" alt="vidImg">
            <!-- <video muted loop id="myVideo">
                <source src="./../../../../assets/imgs/homeImages/BIIB -(360p).mp4" type="video/mp4">
            </video> -->
            <div class="content">
                <button id="myBtn" (click)="playAboutVid()">
                  <img src="./../../../../assets/imgs/homeImages/playBtn.png" alt="vidImg">
                </button>
            </div>
        </div>
        <div class="videoSectionBg">
          <img src="./../../../../assets/imgs/homeImages/navHrDown.png" alt="vidImg">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 px-xl-0 px-lg-0 aboutContent order-xl-2 order-lg-2 order-md-2 order-1">
        <div class="aboutBg">
          <img src="./../../../../assets/imgs/homeImages/bgImgRight.png" alt="arrowImg">
        </div>
        <div class="row m-0 align-content-center h-100 justify-content-center">
          <div class="col-xl-9 col-lg-8 col-md-9 py-4">
            <!-- <div class="aboutContent"> -->
            <h4 class="aboutTitle mb-xl-4 mb-lg-4 mb-md-4 mb-3">
              About Balaji Institute Of International Business
            </h4>
            <p class="description pe-xl-0 pe-lg-0 pe-md-0 pe-5">Balaji Institute of International Business (BIIB), an ‘A++’ Grade’ AICTE accredited
              Business School is located in Pune. Established in 2003, under the aegis of Sri Balaji University, Pune,
              we are one of the fastest-growing International Business Schools in India.</p>
            <div id="outer" class="py-2">
              <div class="button_slide slide_right text-capitalize aboutBtn">know more</div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us END -->

  <!-- Thriving for Excellence -->
  <div class="thrivingSection pb-4">
    <div class="container position-relative">
      <!-- <div class="thrivingImg d-xl-block d-lg-block d-md-block d-none">
        <img src="./../../../../assets/imgs/homeImages/navHrDown.png">
      </div> -->
      <div class="row m-0 pb-xl-3 pb-lg-3 pb-md-2 justify-content-start">
        <div class="col-12 py-xl-2 py-lg-2 py-md-2 py-sm-2 pt-4 text-center">
          <h4 class="main-heading text-capitalize">Thriving for Excellence</h4>
        </div>
        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5">
          <hr>
        </div> -->
      </div>
      <div class="row m-0">
        <div class="col-xl-4 col-lg-4 col-md-4 my-3" *ngFor="let award of allHomeData?.Award;index as i;">
          <div class="card text-center py-4">
            <div class="card-body py-0">
              <i class="fas fa-medal mb-2"></i>
              <h5 class="card-title text-uppercase thrivingHeading my-xl-2 my-lg-2 my-md-2 my-sm-2 my-0 fw-bold">
                {{award?.title}}</h5>
              <hr class="thrivingHR">
            </div>
            <div class="card-footer border-0 bg-transparent">
              <div [innerHtml]="award?.content" class="mt-2 title"></div>
              <!-- <p class="card-text content my-3 lh-base">BIIB among top 11 B-schools in India</p> -->
              <p class="card-text description lh-base">Source : {{award?.issued_by}} {{award?.year}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Thriving for Excellence END -->

  <!-- Campus Gallery Section -->
  <div class="campusGallery">
    <div class="container">
      <div class="row justify-content-center my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
        <div class="col-12 pb-2 text-center">
          <h4 class="main-heading text-capitalize">gallery</h4>
        </div>
      </div>
      <div class="galleryCarousel pb-5" id="gallerySlider">
        <div class="carousel__body mb-xl-5 mb-lg-5 mb-md-4 mb-4">
          <div class="carousel__prev" id="carousel__prev"><i class='fas fa-arrow-left'></i></div>
          <div class="carousel__next" id="carousel__next"><i class='fas fa-arrow-right'></i></div>
          <div class="carousel__slider" id="carousel__slider">
            <div class="carousel__slider__item" id="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img
                      src="http://commondatastorage.googleapis.com/codeskulptor-demos/riceracer_assets/img/car_1.png">
                  </h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img
                      src="http://commondatastorage.googleapis.com/codeskulptor-demos/riceracer_assets/img/tree_2.png">
                  </h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/NljADnB.png"></h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img
                      src="http://commondatastorage.googleapis.com/codeskulptor-demos/riceracer_assets/img/start.png">
                  </h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/HfReHl5.jpg"></h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/NljADnB.png"></h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1><img src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/NljADnB.png"></h1>
                </div>
              </div>
            </div>
            <div class="carousel__slider__item">
              <div class="item__3d-frame">
                <div class="item__3d-frame__box item__3d-frame__box--front">
                  <h1>8</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xl-12">
          <div class="gal">
            <div class="masonary" gallerize>
              <img *ngFor="let gal of allHomeData?.Gallery;index as i;" [src]="imgPath + gal?.featured_image"
                [attr.imageSrc]="imgPath + gal?.featured_image" [attr.thumbSrc]="imgPath + gal?.featured_image">
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="row justify-content-center py-xl-5 py-lg-5 py-md-5 py-4">
        <div class="col-xl-4 text-center">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <a class="btn btn-news btn-blogs btn-lg text-uppercase lh-lg">load more<i
                class="fas fa-chevron-right ms-2"></i></a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- Campus Gallery Section End -->

  <!-- Why BIIB Section -->
  <div class="whyBIIB py-xl-5 py-lg-5 py-md-5 py-sm-5 py-4">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
          <div class="sections text-xl-start text-lg-start text-md-center text-sm-center text-center">
            <div class="logo pb-3"><i class="fas fa-medal"></i></div>
            <h4 class="title my-3">Our Courses</h4>
            <p class="description mb-0">BIIB Offers MBA in International Business, Marketing and Finance and also PhD
              Programs.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
          <div class="sections text-xl-start text-lg-start text-md-center text-sm-center text-center">
            <div class="logo pb-3"><i class="fas fa-medal"></i></div>
            <h4 class="title my-3">Industry Interface</h4>
            <p class="description mb-0">Applied approach for learning includes Intensive training, meeting 250+ senior
              corporate leaders every year.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
          <div class="sections text-xl-start text-lg-start text-md-center text-sm-center text-center">
            <div class="logo pb-3"><i class="fas fa-medal"></i></div>
            <h4 class="title my-3">Campus</h4>
            <p class="description mb-0">One of the best B-school campuses in Pune and is well-equipped with
              state-of-the-art facilities and the latest technology.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
          <div class="sections text-xl-start text-lg-start text-md-center text-sm-center text-center">
            <div class="logo pb-3"><i class="fas fa-medal"></i></div>
            <h4 class="title my-3">Placement</h4>
            <p class="description mb-0">All the hard and smart work pays-off when best of the organizations hire BIIB
              students.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row pt-xl-4 pt-4">
        <div class="col-xl-8 order-xl-1 order-2">
          <div class="row py-xl-4 py-2">
            <div class="col-xl-6 col-lg-6 col-md-6 my-3" *ngFor="let item of allHomeData?.Feature; index as i;">
              <div class="card text-center shadow">
                <div class="card-body py-xl-5 py-lg-5">
                  <i class="fas fa-save mb-2"></i>
                  <h5 class="card-title text-uppercase WhyHeading my-2 fw-bold lh-base">{{item?.title}}</h5>
                  <hr class="whyHR pb-xl-2 pb-lg-2">
                  <p class="card-text description py-2">Our curriculum is worked to suit not just the domestic market,
                    but the time frame, where competition is lateral and winning is no longer within bounds and
                    challenges are moving towards infinity.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-1 align-self-end">
          <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-center">
            <div class="col-12 pb-2 text-center">
              <h4 class="main-heading text-uppercase">Why Choose BIIB ?</h4>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-3 col-5">
              <hr>
            </div>
          </div>
          <div class="row d-xl-block d-none">
            <div class="col">
              <img src="./../../../../assets/imgs/homeImages/whyBIIB.webp" class="w-100" alt="whyBIIb">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Why BIIB Section End -->

  <!-- Leadership Section -->
  <div class="topBrass py-xl-5 py-lg-5 py-lg-4 py-md-4 py-sm-4 py-4">
    <div class="container">
      <div class="row m-0 justify-content-center">
        <div class="col-12 pb-2">
          <h6 class="main-heading text-capitalize">Leadership</h6>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 px-0">
          <ngx-slick-carousel class="carousel courseSlider my-xl-4 mb-lg-4 mb-md-4 mb-sm-4 mb-4"
            #slickModal="slick-carousel" [config]="leadershipConfig">
            <div ngxSlickItem *ngFor="let item of allHomeData?.leadership; index as i;" class="slide px-2">
              <div class="card text-center">
                <div class="teamImg">
                  <img [src]="imgPath + item?.featured_image" class="card-img-top" alt="Team">
                </div>
                <div class="card-body px-0 pt-2">
                  <h6 class="card-title text-uppercase px-2 lh-normal">{{item?.name}}</h6>
                  <div class="line my-3"></div>
                  <p class="card-text px-3" [innerHtml]="item?.content"></p>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="col-xl-4 text-center">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <div id="outer">
              <a class="button_slide slide_right eventsBtn text-capitalize text-decoration-none">view all</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Leadership Section End -->

  <!-- Events Section -->
  <div class="events">
    <div class="eventsHr d-xl-block d-lg-block d-md-block d-none">
      <img src="./../../../../assets/imgs/homeImages/navHrRight.png" alt="hr">
    </div>
    <div class="container">
      <div class="row m-0 justify-content-center">
        <div class="col-12 text-center py-xl-5 py-lg-5 py-md-4 py-4">
          <h6 class="main-heading text-capitalize mb-0">Events</h6>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-xl-4 col-lg-4 col-md-4 my-2">
          <div class="card bg-transparent rounded-0 border-0">
            <div class="imageSection pb-2">
              <img src="./../../../../assets/imgs/homeImages/homeAbout.webp" class="card-img-top rounded-0"
                alt="events Img">
              <div class="dateSection text-white text-uppercase">
                <div class="info">
                  <h4 class="mb-0 lh-normal">27</h4>
                  <p class="mb-0 lh-normal">Feb</p>
                </div>
              </div>
            </div>
            <div class="card-body px-0">
              <h5 class="eventTitle text-white">Event Title In publishing</h5>
              <p class="card-text text-white description">Some quick example text to build on the card title and make up
                the bulk of the card's content.</p>
              <p class="muted ">27 Feb 2023</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 my-2">
          <div class="card bg-transparent rounded-0 border-0">
            <div class="imageSection pb-2">
              <img src="./../../../../assets/imgs/homeImages/homeAbout.webp" class="card-img-top rounded-0"
                alt="events Img">
              <div class="dateSection text-white text-uppercase">
                <div class="info">
                  <h4 class="mb-0 lh-normal">27</h4>
                  <p class="mb-0 lh-normal">Feb</p>
                </div>
              </div>
            </div>
            <div class="card-body px-0">
              <h5 class="eventTitle text-white">Event Title In publishing</h5>
              <p class="card-text text-white description">Some quick example text to build on the card title and make up
                the bulk of the card's content.</p>
              <p class="muted ">27 Feb 2023</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 my-2">
          <div class="card bg-transparent rounded-0 border-0">
            <div class="imageSection pb-2">
              <img src="./../../../../assets/imgs/homeImages/homeAbout.webp" class="card-img-top rounded-0"
                alt="events Img">
              <div class="dateSection text-white text-uppercase">
                <div class="info">
                  <h4 class="mb-0 lh-normal">27</h4>
                  <p class="mb-0 lh-normal">Feb</p>
                </div>
              </div>
            </div>
            <div class="card-body px-0">
              <h5 class="eventTitle text-white">Event Title In publishing</h5>
              <p class="card-text text-white description">Some quick example text to build on the card title and make up
                the bulk of the card's content.</p>
              <p class="muted ">27 Feb 2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-xl-4 py-lg-4 py-md-4 py-4">
        <div class="col-xl-4 mb-3 text-center">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <div id="outer">
              <a class="button_slide slide_right eventsBtn text-capitalize text-decoration-none">all events</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Events Section End -->
  <!-- Testimonial Section -->
  <div class="testimonialSection">

  </div>
  <!-- Testimonial Section End-->
  <!-- Our News Section -->
  <div class="news py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
    <div class="container">
      <!--Heading-->
      <div class="row pb-xl-3 pb-lg-3 pb-2 justify-content-start py-xl-3 py-lg-3 py-md-3 py-sm-3 py-2">
        <div class="col-12 pb-2">
          <h4 class="main-heading text-capitalize">Latest News</h4>
        </div>
        <!-- <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-5">
            <hr class="w-75 ">
          </div> -->
      </div>
      <div class="row">
        <ngx-slick-carousel class="carousel courseSlider" #slickModal="slick-carousel" [config]="newsConfig">
          <div ngxSlickItem class="col-xl-4 col-lg-4 col-md-6 my-2 my-2 slide px-xl-2 px-lg-2 px-md-2 px-sm-1 px-0"
            *ngFor="let item of allHomeData?.News; index as i;">
            <div class="card rounded-0">
              <div class="newImg position-relative">
                <img [src]="imgPath + item?.featured_image" class="card-img-top rounded-0" alt="newsImg">
                <!-- <div class="calender">
                    <div class="row m-0 p-1">
                      <div class="col-xxl-4 col-xl-4 col-lg-5">
                        <p class="text-uppercase mb-0 text-white">
                          <i class="fas fa-user me-2 text-white"></i> {{item?.issued_by}}
                        </p>
                      </div>
                      <div class="col-xxl-4 col-xl-5 col-lg-6">
                        <p class="text-uppercase mb-0 text-white">
                          <i class="fas fa-calendar-alt text-white me-2"></i> {{item?.published_at | date: 'MMM-dd-yyyy'
                          }}
                        </p>
                      </div>
                    </div>
                  </div> -->
              </div>
              <div class="card-body">
                <h5 class="card-title newsTitle text-capitalize mb-3">{{item?.title}}</h5>
                <p class="description">728 students of current batch (2019-2020) are already placed at top notch
                  companies as on 8th January 2020.</p>
              </div>
              <div class="card-footer border-0 bg-transparent pb-3">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                  <div id="outer">
                    <a class="button_slide slide_right text-capitalize text-decoration-none">read more</a>
                  </div>
                  <!-- <a class="btn btn-news btn-lg text-uppercase lh-md">read more<i
                        class="fas fa-chevron-right ms-2"></i></a> -->
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
      <!-- <div class="row justify-content-center py-xl-3 py-lg-3 py-md-3 py-2">
          <div class="col-xl-4 text-center">
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <a class="btn btn-news btn-blogs btn-lg text-uppercase lh-lg">read all blogs<i
                  class="fas fa-chevron-right ms-2"></i></a>
            </div>
          </div>
        </div> -->
    </div>
  </div>
  <!-- Our News Section End -->
</div>
