:host {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
.topnav {
    background-color: var(--primary-green);
    .topLink{
        li {
            a{
                color: var(--bs-white);
                font-weight: var(--font-500);
            }
            a:hover {
                color: var(--primary-blue);
            }
            a:hover i{
                color: var(--primary-blue);
            }
        }
    }
    .topmenu {
        li {
            a{
                font-size: var(--font-16);
                line-height: 19px;
                font-weight: var(--font-500);
                color: var(--bs-white);
                transition: 0.4s;
            }
        }
        li:hover {
            background-color: var(--primary-blue);
        }
    }
}
.bottomNav{
    background: rgb(25,47,89);
    background: linear-gradient(0deg, rgba(25,47,89,0) 0%, rgba(25,47,89,1) 100%);
    // background-image: url(./../../../assets/imgs/logoBG.png);
    // height: 108px;
    .offcanvas{
        .offcanvas-body{
            ul {
                li {
                    a {
                        font-size: var(--font-16);
                        color: var(--bs-white);
                        font-weight: 500;
                        i {
                            font-size: var(--font-14);
                        }
                    }
                    a:hover {
                        background-color: var(--primary-green);
                    }
                }
            }
            .dropdown {
                .dropdown-menu{
                    overflow: hidden;
                    a{
                        font-size: var(--font-14);
                        color: #3F3F3F;
                        padding: 7px 25px 7px 22px;
                    }
                    a:hover{
                        background-color: var(--primary-blue);
                        color: var(--bs-white);
                    }
                    // transition: all .5s ease-in-out;
                }
            }
            .dropdown:hover .dropdown-menu {
                display: block;
                animation: growDown 300ms ease-in-out forwards;
                transform-origin: top center;
              }
              @keyframes growDown {
                0% {
                    transform: scaleY(0)
                }
                80% {
                    transform: scaleY(1.1)
                }
                100% {
                    transform: scaleY(1)
                }
            }
        }
    }
    .logoHeader{
        background-image: url(./../../../assets/imgs/logoBG.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .institueName {
        color: var(--primary-orange);
        font-size: var(--font-26);
    }
    .btn-contact {
        background-color: var(--primary-blue);
        border-radius: 5px;
        i {
            rotate: 90deg;
        }
    }
    .btn-contact:hover {
        background-color: var(--primary-orange);
    }
    .menuNav {
        width: 100% !important;
        background-color: #37255F;
        .offcanvas-body {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 1.5rem;
                        line-height: 36px;
                        display: inline-block;
                    }
                    .nav-link:hover, .nav-link:hover i{
                        color: var(--primary-orange) !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 574px) {
    .navbar{
        height: 74px;
        .navbar-brand {
            img {
                width: 54px;
                height: 64px;
            }
        }
        .menuNav {
            .offcanvas-body {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 1rem;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}
  

.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
    }
    .has-megamenu:hover>.dropdown-menu {
        display: inline-block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}
