<div class="row">
    <div class="col-12 pb-xl-4 pb-lg-4 pb-md-4 pb-3 text-xl-start text-lg-start text-md-start text-sm-start text-center">
        <h4 class="mb-0 pagesHeading text-capitalize">About Balaji Institute Of International Business</h4>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <img class="w-100" src="./assets/imgs/about/aobut-biib.png" alt="about">
    </div>
    <div class="col-xl-6 my-2">
        <h4 class="pagesHeading headingColor text-capitalize py-3 mb-0 text-xl-start text-lg-start text-md-start text-center">our vision</h4>
        <p class="mb-0 text-xl-start text-lg-start text-md-start text-center">Our vision is to craft new initiatives that accelerate the creation of knowledgeable and motivated minds. Our
            practical-based training should create a benchmark in the international business management education
            segment.</p>
    </div>
    <div class="col-xl-6 my-2">
        <h4 class="pagesHeading headingColor text-capitalize py-3 mb-0 text-xl-start text-lg-start text-md-start text-center">our mission</h4>
        <p class="mb-0 text-xl-start text-lg-start text-md-start text-center">To amplify the growth of our pupils through world-class business management education. To create sharp
            management players with undisputed capabilities to face the challenges of the emerging global scenario.</p>
    </div>
    <div class="col-xl-12 my-2">
        <h4 class="pagesHeading text-capitalize py-3 mb-0 text-xl-start text-lg-start text-md-start text-center">BIIB – A Launch Pad For New Ideas and
            Dreams!</h4>
        <p class="text-xl-start text-lg-start text-md-start text-center">BIIB - Balaji Institute of International Business has always been a launch pad for new ideas and innovative
            solutions. BIIB is the place where curious minds blend to make a difference. Our goal is to expand our
            boundaries by creating new pathways for knowledge and empowering the world with enlightened people. Balaji
            Institute of International Business (BIIB), is an ‘A++’ Grade’ AICTE accredited Business School with an
            outstanding placement record. Established in 2003, we are the fastest-growing B-Schools in India. Our most
            advanced training and scientific grooming have resulted in a rich corporate career for thousands of students
            pursuing successful corporate careers globally.</p>
    </div>
    <div class="col-xl-12 my-2">
        <h4 class="pagesHeading text-capitalize py-3 mb-0 text-xl-start text-lg-start text-md-start text-center">Why BIIB</h4>
        <p class="text-xl-start text-lg-start text-md-start text-center">Our unmatched teaching methodology and curriculum is based on international management training philosophy.
            Our student-friendly teaching staff is highly qualified and professionally experienced to mentor aspiring
            students. Today, BIIB boasts of the most progressive pedagogy and a 100% placement rate.</p>
        <p class="text-xl-start text-lg-start text-md-start text-center">Learning beyond classrooms not only gives hands-on experience but builds your self-confidence to face the
            challenges of the corporate world. The cultural and co-curricular activities develop a strong instinct to
            lead and win competitions.</p>
        <p class="text-xl-start text-lg-start text-md-start text-center mb-0">An uncompromised environment with everything you need is thoughtfully created for uninterrupted attention.
            Here, you will experience uncongested life with facilities and amenities second to none. At BIIB you will
            cherish moments that will remain with you for a lifetime.</p>
    </div>
    <div class="col-xl-12 my-2">
        <h4 class="pagesHeading text-capitalize py-3 mb-0 text-xl-start text-lg-start text-md-start text-center">Ranking & Awards</h4>
        <div class="list-items pb-xl-3 pb-lg-3 pb-md-3 pb-2">
            <h6 class="fw-bold lh-lg">“Times of India” B-School Survey (2020) has Ranked Sri Balaji University, Pune (BIMM,
                BITM,
                BIIB, BIMHRD), Pune as :</h6>
            <ul class="list-style-disc pt-2">
                <li class="lh-lg">Top 11 B – Schools in India</li>
                <li class="lh-lg">Top 3 Private Universities in India</li>
                <li class="lh-lg">Top 2 Private Universities in Maharashtra</li>
            </ul>
            <p>visit <a href="www.timesbschoolsurvey.org" target="_blank" type="button"
                    tabindex="0">www.timesbschoolsurvey.org</a> to view the same.</p>
        </div>
        <div class="list-items pb-xl-3 pb-lg-3 pb-md-3 pb-2">
            <h6 class="fw-bold lh-lg">“Times of India” B-School Survey (2019) has Ranked Sri Balaji Society (BIMM, BITM, BIIB,
                BIMHRD), Pune as :</h6>
            <ul class="list-style-disc pt-2">
                <li class="lh-lg">Top 11 B – Schools in India</li>
                <li class="lh-lg">Top 6 Private B-Schools in India</li>
                <li class="lh-lg">Top 4 B-Schools in Maharashtra</li>
                <li class="lh-lg">Top 3 B-Schools in Pune</li>
                <li class="lh-lg">Ranked 65th in Top 100: Selection Process, Governance & Establishment in India’s Best B-Schools
                    Survey
                    (Source: Business Today December 2, 2018)</li>
                <li class="lh-lg">Ranked 69th in Top Private B-Schools All India (Source – THE WEEK, November 4, 2018)</li>
                <li class="lh-lg">Ranked 10th in Pune in India’s Private Best B-Schools Survey (Source- Career360 November 2018)</li>
                <li class="lh-lg">Ranked 19th of Top B-School in Eminence in B-School Survey (Source- Competition Success Review B
                    school
                    survey 2018)</li>
                <li class="lh-lg">Ranked in Top 100 Private B-Schools in India (Education World May 2018 Survey)</li>
                <li class="lh-lg">Other credentials of BIIB : According to ‘Business India’ ranking for best Visiting faculties, Sri
                    Balaji University is ranked as one amongst Top-3 B- Schools in India. According to ‘Mint’ – an
                    economic
                    daily from the Hindustan Times group, Sri Balaji University is ranked as one amongst Top-5 for the
                    Best
                    Infrastructure.</li>
            </ul>
        </div>
        <div class="list-items pb-xl-3 pb-lg-3 pb-md-3 pb-2">
            <h6 class="fw-bold lh-lg">Other significant rankings of BIIB :</h6>
            <ul class="list-style-disc pt-2">
                <li class="lh-lg">Ranked A++ B-School in Business India Magazine (Source: Business India. The Magazine of corporate
                    world
                    (December 18-31, 2017).</li>
                <li class="lh-lg">Ranked as A category in All India B-School Survey 2017 & received Certificate of Excellence (Source:
                    Chronicle B School Survey February, 2017).</li>
                <li class="lh-lg">Ranked 18 of Top B Schools of Eminence in B School Survey (Source-CSR-GHRDC B school survey No.
                    2016).
                </li>
                <li class="lh-lg">Ranked in Top 50 private B-Schools in India (South & West) & received AAA+ rating in Maharashtra
                    (Source
                    –Career360 Survey November 2016).</li>
                <li class="lh-lg">Ranked A7 in Super League Group in Business School Special Edition of Business Standard Newspaper
                    dated
                    17 June 2016.</li>
            </ul>
        </div>
    </div>
</div>