.pagesHeading {
    font-family: "josefin-sans";
    font-size: var(--font-36);
    line-height: 48px;
    color: var(--primary-blue);
}
.headingColor {
    color: var(--primary-green);
}
p {
    line-height: 32px;
}