<!-- MBA Programs Page -->
<div class="innerpage">
    <div class="container">
        <!-- <div class="row">
            <div class="col-12"><span class="fw-bold fs-4 mb-2">WHY BIIB</span></div>
            <div class="col-12">
                <p>BIIB - Balaji Institute of International Business has always been a launch pad for new ideas and innovative solutions. BIIB is the place where curious minds blend to make a difference. Our goal is to expand our boundaries by creating new pathways for knowledge and empowering the world with enlightened people. Balaji Institute of International Business (BIIB), is an ‘A++’ Grade’ AICTE accredited Business School with an outstanding placement record. Established in 2003, we are the fastest-growing B-Schools in India. Our most advanced training and scientific grooming have resulted in a rich corporate career for thousands of students pursuing successful corporate careers globally.</p>
            </div>
        </div> -->
        <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-start py-xl-3 m-0">
            <div class="col-12 px-0 pb-xl-4 pb-lg-4 pb-md-4 py-3 text-xl-start text-lg-start text-md-start text-sm-start text-center">
                <h4 class="inner-page-heading text-capitalize mb-0">MBA Programs</h4>
            </div>
            <div class="inner-page-img col-12 px-0">
                <img class="w-100" src="./../../../../../assets/imgs/mba-programs.png" alt="mba-programs">
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">About MBA</h4>
                <p class="inner-page-text">BIIB offers AICTE approved, Two Year Full-Time Master of Business Administration programs. Courses offered at BIIB include :</p>
            </div>
            <div class="col-12 px-0">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0">MBA (International Business)
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Specializations Available</strong></h4>
                        <p class="inner-page-text pt-3">Marketing and International Business Management</p>
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Seats Available</strong></h4>
                        <p class="inner-page-text pt-3">60</p>
                    </li>
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0" >MBA (Marketing Management)
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Specializations Available</strong></h4>
                        <p class="inner-page-text pt-3">Marketing and International Business Management</p>
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Seats Available</strong></h4>
                        <p class="inner-page-text pt-3">60</p>
                    </li>
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0" >MBA (Finance)
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Specializations Available</strong></h4>
                        <p class="inner-page-text pt-3">Marketing and International Business Management</p>
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Seats Available</strong></h4>
                        <p class="inner-page-text pt-3">60</p>
                    </li>
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0" >MBA (Digital & Business Transformation)
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Specializations Available</strong></h4>
                        <p class="inner-page-text pt-3">Marketing and International Business Management</p>
                        <h4 class="inner-list-heading mb-0 pt-3"><strong>Seats Available</strong></h4>
                        <p class="inner-page-text pt-3">60</p>
                    </li>
                  </ol>
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">Course Curriculum:</h4>
                <p class="inner-page-text">Course Outline will be shared soon.</p>
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">Project Studies :</h4>
                <p class="inner-page-text">All the Business Management students have to take up compulsory 'Company Project Studies' i.e. internship forthe period of 2 months’ duration.</p>
            </div>
        </div>  
    </div>
</div>    

<!-- scollership schemas page -->

<div class="innerpage">
    <div class="container">
        <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-start py-xl-3 m-0">
            <div class="col-12 px-0 pb-xl-4 pb-lg-4 pb-md-4 py-3 text-xl-start text-lg-start text-md-start text-sm-start text-center">
                <h4 class="inner-page-heading text-capitalize mb-0">Scholarship Schemes</h4>
            </div>
            <div class="inner-page-img col-12 px-0">
                <img class="w-100" src="./../../../../../assets/imgs/Scholarship Schemes.png" alt="mba-programs">
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">Basic Eligibility Criteria</h4>
            </div>
            <div class="col-12 px-0">
                <ul>
                    <li class="inner-page-text px-0">The candidate must apply through Sri Balaji University, Pune’s online admission process.</li>
                    <li class="inner-page-text px-0"> The candidate must clear SBUP’s selection process (GD, PI and Essay).</li>
                    <li class="inner-page-text px-0">Interested and eligible students may apply for one or more scholarships separately by clicking on the below links before the stipulated date and time.</li>
                </ul>
            </div>
            <div class="col-12 px-0">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0">Prof. M.S. Pillai Memorial Scholarship
                        <p class="inner-page-text pt-3"><strong>A small write up about the Prof. M.S. Pillai Memorial Scholarship by our beloved Founder-Chancellor, Professor Dr. (Col.) A Balasubramanian in his golden words -</strong></p>
                        <p class="inner-page-text pt-3">“Prof. M.S. Pillai was an innovator and an extraordinary professor and management educationist. He was a genius, known for bold initiatives in management education. I happen to be one of his blessed students. After my retirement from the army when I came to Symbiosis, Prof. M.S. Pillai was leaving for a Kerala based institute. But soon he came back to start SCMHRD while I was running SIMS. There was a healthy collaboration between us and we complemented each other, resulting in growth, both for ourselves as well as our students.
                        </p>
                        <p class="inner-page-text pt-3">Prof. M.S. Pillai introduced meditation and Vipassana as compulsory subjects for his management students. He also mentored many corporate leaders. He was a good learner and a great teacher, totally devoted to his students. He was a kindhearted but tough disciplinarian. An excellent counsellor. Thousands of students have benefited from his training and guidance. Above all Prof Pillai was known for his humility and humanity. He was a role model and as his disciple and chancellor of SBUP it is my duty to cherish his memory through the Prof. M. S. Pillai Memorial Scholarship.”</p>
                        <p class="inner-page-text pt-3 mb-0"><strong>Selection Process for Prof. M.S. Pillai Memorial Scholarship
                        </strong></p>
                        <p class="inner-page-text">A committee comprising of industry experts who were students of Prof. M.S. Pillai and representatives of the Sadhana Educational & Empowerment Foundation will nominate two students for this scholarship.
                        </p>
                        <p class="inner-page-text pt-3 mb-0"><strong>Fee Structure for M.S. Pillai Memorial Scholarship
                        </strong></p>
                        <p class="inner-page-text mb-0">It is a complete free-ship program, as detailed in the chart below.
                        </p>
                        <p class="inner-page-text"><strong>Note : </strong><a href="#">You can apply for scholarship by clicking here</a></p>
                    </li>
                    <li class="list-group-item border-0 inner-page-heading text-capitalize px-0 mb-0">Prof. M.S. Pillai Memorial Scholarship
                        <p class="inner-page-text pt-3"><strong>A small write up about the Prof. M.S. Pillai Memorial Scholarship by our beloved Founder-Chancellor, Professor Dr. (Col.) A Balasubramanian in his golden words -</strong></p>
                        <p class="inner-page-text pt-3">“Prof. M.S. Pillai was an innovator and an extraordinary professor and management educationist. He was a genius, known for bold initiatives in management education. I happen to be one of his blessed students. After my retirement from the army when I came to Symbiosis, Prof. M.S. Pillai was leaving for a Kerala based institute. But soon he came back to start SCMHRD while I was running SIMS. There was a healthy collaboration between us and we complemented each other, resulting in growth, both for ourselves as well as our students.
                        </p>
                        <p class="inner-page-text pt-3">Prof. M.S. Pillai introduced meditation and Vipassana as compulsory subjects for his management students. He also mentored many corporate leaders. He was a good learner and a great teacher, totally devoted to his students. He was a kindhearted but tough disciplinarian. An excellent counsellor. Thousands of students have benefited from his training and guidance. Above all Prof Pillai was known for his humility and humanity. He was a role model and as his disciple and chancellor of SBUP it is my duty to cherish his memory through the Prof. M. S. Pillai Memorial Scholarship.”</p>
                        <p class="inner-page-text pt-3 mb-0"><strong>Selection Process for Prof. M.S. Pillai Memorial Scholarship
                        </strong></p>
                        <p class="inner-page-text">A committee comprising of industry experts who were students of Prof. M.S. Pillai and representatives of the Sadhana Educational & Empowerment Foundation will nominate two students for this scholarship.
                        </p>
                        <p class="inner-page-text pt-3 mb-0"><strong>Fee Structure for M.S. Pillai Memorial Scholarship
                        </strong></p>
                        <p class="inner-page-text mb-0">It is a complete free-ship program, as detailed in the chart below.
                        </p>
                        <p class="inner-page-text"><strong>Note : </strong><a href="#">You can apply for scholarship by clicking here</a></p>
                    </li>
                  </ol>
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">Course Curriculum:</h4>
                <p class="inner-page-text">Course Outline will be shared soon.</p>
            </div>
            <div class="col-12 px-0 my-2">
                <h4 class="inner-page-heading text-capitalize mb-0 py-3">Project Studies :</h4>
                <p class="inner-page-text">All the Business Management students have to take up compulsory 'Company Project Studies' i.e. internship forthe period of 2 months’ duration.</p>
            </div>
        </div>  
    </div>
</div>    