<div class="heroBanner">
    <div class="bannerImg">
        <div class="layer d-flex align-items-center">
            <div class="container">
                <div class="row py-xl-5 py-lg-5 py-md-5 py-sm-5 py-4 shadowText">
                    <div class="col-xl-7 col-lg-7 col-md-12 mt-xl-5">
                        <div class="bannerText">
                            <h5 class="muted-text">About Us</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shapeImg">
        <img src="./../../../../assets/imgs/homeImages/shapes.png">
    </div>
</div>
<div class="position-relative">
    <div class="imgBg">
        <img src="./../../../../assets/imgs/homeImages/navHrLeft.png" alt="sideBg">
    </div>
</div>