<div class="contactPage">
  <div class="getInTouch">
    <div class="container">
      <div class="row m-0 justify-content-center">
        <div class="col-12 text-center py-xl-5 py-lg-5 py-md-4 py-4">
          <h6 class="main-heading text-capitalize mb-0">Get in touch</h6>
          <p>Balaji Institute of International Business (BIIB)</p>
        </div>
      </div>
      <div class="row m-0 py-xl-4 py-lg-4 py-md-4 py-3">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 my-2">
          <div class="card text-center py-3 border-0">
            <div class="card-header border-0 bg-transparent">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="card-body border-0">
               <a role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="email">admissions@sbup.edu.in</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 my-2">
          <div class="card text-center py-3 border-0">
            <div class="card-header border-0 bg-transparent">
              <i class="fa fa-phone" style="rotate: 90deg;"></i>
            </div>
            <div class="card-body border-0">
               <a role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="tel">+91 (020) 6674 1235/36/1097, +91 9673338787</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 my-2">
          <div class="card text-center py-3 border-0">
            <div class="card-header border-0 bg-transparent">
              <i class="fa fa-globe"></i>
            </div>
            <div class="card-body border-0">
               <a role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="tel">www.biibpune.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mapSection position-relative">
    <img  class="w-100" src="./../../../../assets/imgs/homeImages/Group 177.png" alt="map">
    <div class="formSection position-absolute top-0 right-0 w-100">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-xl-6">fdifjh</div>
        </div>
      </div>
    </div>
  </div>
  <div class="contactDetail">
    <div class="container">
      <div class="row m-0 justify-content-center">
        <div class="col-12 text-center py-xl-4 py-lg-4 py-md-4 py-4">
          <h6 class="main-heading text-capitalize mb-0">important contact details</h6>
        </div>
      </div>
      <div class="row m-0 py-xl-4 py-lg-4 py-md-4 py-3">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-2">
          <div class="card text-center py-xl-4 py-lg-4 py-md-4 py-sm-3 py-3">
            <div class="card-header border-0">
              <i class="fa fa-user mb-3"></i>
              <h4 class="text-capitalize mb-3">Dean office</h4>
              <hr>
            </div>
            <div class="card-body border-0 px-2">
              <div class="mb-2">
                <a href="" class="text-decoration-none mb-1" role="button" tabindex="0">
                  <i class="fa fa-user me-2"></i> +91 9673338787
                </a>
              </div>
              <div class="">
                <a href="" role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="email">
                  <i class="fa fa-envelope me-2"></i> admissions@sbup.edu.in
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-2">
          <div class="card text-center py-xl-4 py-lg-4 py-md-4 py-sm-3 py-3">
            <div class="card-header border-0">
              <i class="fa fa-user mb-3"></i>
              <h4 class="text-capitalize mb-3">Dean office</h4>
              <hr>
            </div>
            <div class="card-body border-0 px-2">
              <div class="mb-2">
                <a href="" class="text-decoration-none mb-1" role="button" tabindex="0">
                  <i class="fa fa-user me-2"></i> +91 9673338787
                </a>
              </div>
              <div class="">
                <a href="" role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="email">
                  <i class="fa fa-envelope me-2"></i> admissions@sbup.edu.in
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-2">
          <div class="card text-center py-xl-4 py-lg-4 py-md-4 py-sm-3 py-3">
            <div class="card-header border-0">
              <i class="fa fa-user mb-3"></i>
              <h4 class="text-capitalize mb-3">Dean office</h4>
              <hr>
            </div>
            <div class="card-body border-0 px-2">
              <div class="mb-2">
                <a href="" class="text-decoration-none mb-1" role="button" tabindex="0">
                  <i class="fa fa-user me-2"></i> +91 9673338787
                </a>
              </div>
              <div class="">
                <a href="" role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="email">
                  <i class="fa fa-envelope me-2"></i> admissions@sbup.edu.in
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-2">
          <div class="card text-center py-xl-4 py-lg-4 py-md-4 py-sm-3 py-3">
            <div class="card-header border-0">
              <i class="fa fa-user mb-3"></i>
              <h4 class="text-capitalize mb-3">Dean office</h4>
              <hr>
            </div>
            <div class="card-body border-0 px-2">
              <div class="mb-2">
                <a href="" class="text-decoration-none mb-1" role="button" tabindex="0">
                  <i class="fa fa-user me-2"></i> +91 9673338787
                </a>
              </div>
              <div class="">
                <a href="" role="button" tabindex="0" class="mb-1 addressText text-decoration-none" type="mail" text="email">
                  <i class="fa fa-envelope me-2"></i> admissions@sbup.edu.in
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


